/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Aug 17, 2023, 11:19:33 AM
    Author     : sonnt
*/
.pagger span
{
    font-weight: bold;
}

.pagger a
{
    border-style: solid;
    border-color: blue;
    padding: 2px;
    margin: 2px;
}